body {
     background-color: #FFFFFF;
     color: #333333;
     font-family: Lucida Grande,Verdana,Geneva,Sans-serif;
     font-size: 14px;
     margin: 0pt;
     padding: 0pt;
}

a {
     background-color: transparent;
     color: #0134C5;
     font-weight: normal;
     outline-style: none;
     text-decoration: none;
}

a:visited {
     background-color: transparent;
     color: #0134C5;
     outline-style: none;
     text-decoration: none;
}

a:hover {
     background-color: transparent;
     color: #000000;
     outline-style: none;
     text-decoration: none;
}


#content {
     margin: 20px 40px 0pt;
     padding: 0pt;
}

#content p {
     margin: 12px 20px 12px 0pt;
}

#content h1 {
     background-color: transparent;
     border-bottom: 1px solid #4183C4;
     color: #4183C4;
     font-size: 24px;
     font-weight: normal;
     margin: 0pt 0pt 20px;
     padding: 3px 0pt 7px 3px;
}

#content h2 {
     background-color: transparent;
     border-bottom: 1px solid #999999;
     color: #000000;
     font-size: 18px;
     font-weight: bold;
     margin: 28px 0pt 16px;
     padding: 5px 0pt 6px;
}

#content h3 {
     background-color: transparent;
     color: #333333;
     font-size: 16px;
     font-weight: bold;
     margin: 16px 0pt 15px;
     padding: 0pt;
}

#content h4 {
     background-color: transparent;
     color: #444444;
     font-size: 14px;
     font-weight: bold;
     margin: 22px 0pt 0pt;
     padding: 0pt;
}

#content img {
     margin: auto;
     padding: 0pt;
}

#content code {
     background-color: #F9F9F9;
     border: 1px solid #D0D0D0;
     color: #002166;
     display: block;
     font-family: Monaco,Verdana,Sans-serif;
     font-size: 12px;
     margin: 14px 0pt;
     padding: 12px 10px;
}

#content pre {
     background-color: #F9F9F9;
     border: 1px solid #D0D0D0;
     color: #002166;
     display: block;
     font-family: Monaco,Verdana,Sans-serif;
     font-size: 12px;
     margin: 14px 0pt;
     padding: 12px 10px;
}

#content .path {
     background-color: #EBF3EC;
     border: 1px solid #99BC99;
     color: #005702;
     margin: 0pt 0pt 14px;
     padding: 5px 10px 5px 8px;
     text-align: center;
}

#content dfn {
     color: #00620C;
     font-family: Lucida Grande,Verdana,Geneva,Sans-serif;
     font-style: normal;
     font-weight: bold;
}

#content var {
     color: #8F5B00;
     font-family: Lucida Grande,Verdana,Geneva,Sans-serif;
     font-style: normal;
     font-weight: bold;
}

#content samp {
     color: #480091;
     font-family: Lucida Grande,Verdana,Geneva,Sans-serif;
     font-style: normal;
     font-weight: bold;
}

#content kbd {
     color: #A70000;
     font-family: Lucida Grande,Verdana,Geneva,Sans-serif;
     font-style: normal;
     font-weight: bold;
}

#content ul {
     list-style-image: url("../images/arrow.gif");
     margin: 10px 0pt 12px;
}

#content li {
     margin-bottom: 9px;
}

#content li p {
     margin-left: 0pt;
     margin-right: 0pt;
}

#content .tableborder {
     border: 1px solid #999999;
}

#content th {
     background-color: #666666;
     color: #FFFFFF;
     font-size: 12px;
     font-weight: bold;
     padding: 4px;
     text-align: left;
}

#content .td {
     background-color: #F3F3F3;
     font-size: 12px;
     font-weight: normal;
     padding: 6px;
}

#content .tdpackage {
     font-size: 12px;
     font-weight: normal;
}

#content .important {
     background: none repeat scroll 0% 0% #FBE6F2;
     border: 1px solid #D893A1;
     color: #333333;
     margin: 10px 0pt 5px;
     padding: 10px;
}

#content .important p {
     margin: 6px 0pt 8px;
     padding: 0pt;
}

#content .important .leftpad {
     margin: 6px 0pt 8px;
     padding-left: 20px;
}

#content .critical {
     background: none repeat scroll 0% 0% #FBE6F2;
     border: 1px solid #E68F8F;
     color: #333333;
     margin: 10px 0pt 5px;
     padding: 10px;
}

#content .critical p {
     margin: 5px 0pt 6px;
     padding: 0pt;
}

#footer {
     background-color: transparent;
     font-size: 10px;
     margin: 20px 0pt 0pt;
     padding: 16px 0pt 15px;
     text-align: center;
}

#footer p {
     color: #999999;
     font-size: 10px;
     text-align: center;
}

#footer address {
     font-style: normal;
}

.center {
     text-align: center;
}

img {
     border: 0pt none;
     margin: 0pt;
     padding: 0pt;
}

.nopad {
     border: 0pt none;
     margin: 0pt;
     padding: 0pt;
}

form {
     margin: 0pt;
     padding: 0pt;
}

.input {
     border: 1px solid #B3B4BD;
     color: #333333;
     font-family: Lucida Grande,Verdana,Geneva,Sans-serif;
     font-size: 11px;
     height: 1.5em;
     margin: 0pt;
     padding: 0pt;
     width: 100%;
}

.textarea {
     background-color: #F9F9F9;
     border: 1px solid #B3B4BD;
     color: #143270;
     font-family: Lucida Grande,Verdana,Geneva,Sans-serif;
     font-size: 14px;
     margin: 0pt;
     padding: 6px;
     width: 100%;
}

.select {
     background-color: #FFFFFF;
     color: #333333;
     font-size: 11px;
     font-weight: normal;
     margin: 0pt 0pt 3px;
     padding: 0pt;
}

.checkbox {
     background-color: transparent;
     border: 0pt none;
     padding: 0pt;
}

.submit {
     background-color: #000000;
     border: 1px solid #FFFFFF;
     color: #FFFFFF;
     font-size: 10px;
     font-weight: normal;
     margin: 0pt;
     padding: 1px 5px 2px;
}
