<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="ja">
<head>
  {% block head %}
    <title>{% block title %}{% endblock %} - Silex ユーザーガイド</title>
  {% endblock %}
  <link rel='stylesheet' type='text/css' media='all' href='css/basic.css' />
</head>
<body>
  <div id="content">{% block content %}{% endblock %}</div>
  <hr>
  <div id="footer">
    {% block footer %}
      <p>このサイトに関するお問い合わせ先:<a href="http://twitter.com/brtriver">@brtriver</a></p>
      <p>
        このサイトのコードを<a href="https://github.com/brtriver/silx-users-jp">github</a>で見る / <a href="{{app['url_generator'].generate('view_source')}}">ハイライト表示</a>する
      </p>
      <p>
      silex-users-jp is powered by <a href="http://silex.sensiolabs.org/">Silex</a> and <a href="http://twig.sensiolabs.org/">Twig</a> and inspired by <a href="http://codeigniter.com/user_guide/">CodeIgniter User Guide Site</a>
      </p>
      <p>Hosted by <a href="http://phper.jp">PHPer.jp</a></p>
    {% endblock %}
  </div>
</body>
</html>
